@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Kaushan+Script&display=swap');

@font-face {
    font-family: 'Parsi-Bold';
    font-display: swap;
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Parsi-Bold.ttf');
}

@font-face {
    font-family: 'Parsi-Regular';
    font-display: swap;
    src: url('../fonts/Parsi-Regular.ttf');
}