@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Kaushan+Script&display=swap");
@font-face {
  font-family: "Parsi-Bold";
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Parsi-Bold.ttf");
}
@font-face {
  font-family: "Parsi-Regular";
  font-display: swap;
  src: url("../fonts/Parsi-Regular.ttf");
}
*,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: hidden !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
html body::-webkit-scrollbar-thumb, html .grillado::-webkit-scrollbar-thumb {
  background-color: #6E6E6E;
  /* color of the scroll thumb */
  border-radius: 9px;
  /* roundness of the scroll thumb */
  border: 2px solid white;
  /* creates padding around scroll thumb */
}
html body::-webkit-scrollbar, html .grillado::-webkit-scrollbar {
  width: 9px;
  /* width of the entire scrollbar */
}
html .grillado {
  background-image: none;
}

@media (min-width: 0px) {
  .img-bkgd {
    aspect-ratio: 4/3;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    margin-top: -15%;
  }
  .img-firma {
    opacity: 0.7;
    width: 300px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    margin-top: 20px;
  }
  h1 {
    color: white;
    z-index: 99;
    font-family: "Parsi-Regular", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  span {
    font-family: "Parsi-Bold", sans-serif;
    font-weight: bold;
    z-index: 99;
    margin-top: -50%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card {
    transform: translateY(0px);
    transition: all 0.2s ease-out;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 16rem;
    height: 15rem;
    border-radius: 12px;
    border: none;
  }
  .card img {
    border-radius: 12px;
    aspect-ratio: 4/3;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card .card-body2 {
    margin-top: -83%;
    border-radius: 8px;
    height: 213.33px;
    z-index: 999;
    background: none;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card .card-body2 h5 {
    margin-top: 65%;
    margin-left: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card:hover {
    transform: translateY(-20px);
    transition: all 0.2s ease-out;
  }
  .btn {
    border-radius: 50px;
  }
  .nombre-esc {
    font-size: 30px;
    font-weight: bold;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .porc {
    font-family: "Kaushan Script", sans-serif;
    font-size: 60px;
    font-weight: bold;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  #fecha {
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  h6 {
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .btn-outline-danger {
    box-shadow: 0 2px 20px RGBA(220, 53, 40, 0.75);
  }
  .btn-outline-warning {
    box-shadow: 0 2px 20px RGBA(255, 193, 7, 0.75);
  }
  #h1-index {
    margin-top: -815px;
  }
  #html-votar {
    overflow-y: auto !important;
    background-color: RGB(21, 21, 85);
  }
  #html-votar body, #html-votar html .grillado, html #html-votar .grillado {
    background-color: RGB(21, 21, 85);
  }
  #h1-votar {
    margin-top: 20px;
  }
  #quien {
    text-align: center;
  }
  #card-julieta {
    margin-right: 0 !important;
    margin-top: 60px;
  }
  #card-coti {
    margin-right: 0 !important;
    margin-top: 60px;
  }
  #card-daniela {
    margin-right: 0 !important;
    margin-top: 60px;
  }
  #card-romina {
    margin-right: 0 !important;
    margin-top: 60px;
  }
  #html-escribana {
    overflow-y: auto !important;
    background-color: #F3F3F3;
  }
  #html-escribana body, #html-escribana html .grillado, html #html-escribana .grillado {
    background-color: #F3F3F3;
  }
  #h1-escribana {
    margin-top: 20px;
  }
  #porcentajes {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .img-bkgd {
    aspect-ratio: 4/3;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    margin-top: -15%;
  }
  .img-firma {
    opacity: 0.7;
    width: 300px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    margin-top: 20px;
  }
  h1 {
    color: white;
    z-index: 99;
    font-family: "Parsi-Regular", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  span {
    font-family: "Parsi-Bold", sans-serif;
    font-weight: bold;
    z-index: 99;
    margin-top: -50%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card {
    transform: translateY(0px);
    transition: all 0.2s ease-out;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 16rem;
    height: 15rem;
    border-radius: 12px;
    border: none;
  }
  .card img {
    border-radius: 12px;
    aspect-ratio: 4/3;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card .card-body2 {
    margin-top: -83%;
    border-radius: 8px;
    height: 213.33px;
    z-index: 999;
    background: none;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card .card-body2 h5 {
    margin-top: 65%;
    margin-left: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card:hover {
    transform: translateY(-20px);
    transition: all 0.2s ease-out;
  }
  .btn {
    border-radius: 50px;
  }
  .nombre-esc {
    font-size: 30px;
    font-weight: bold;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .porc {
    font-family: "Kaushan Script", sans-serif;
    font-size: 60px;
    font-weight: bold;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  #fecha {
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  h6 {
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .btn-outline-danger {
    box-shadow: 0 2px 20px RGBA(220, 53, 40, 0.75);
  }
  .btn-outline-warning {
    box-shadow: 0 2px 20px RGBA(255, 193, 7, 0.75);
  }
  #h1-index {
    margin-top: -815px;
  }
  #html-votar {
    overflow-y: auto !important;
    background-color: RGB(21, 21, 85);
  }
  #html-votar body, #html-votar html .grillado, html #html-votar .grillado {
    background-color: RGB(21, 21, 85);
  }
  #h1-votar {
    margin-top: 20px;
  }
  #quien {
    text-align: center;
  }
  #card-julieta {
    margin-right: 16px !important;
    margin-top: 0px !important;
  }
  #card-coti {
    margin-right: 16px !important;
    margin-top: 0px !important;
  }
  #card-daniela {
    margin-right: 16px !important;
    margin-top: 16px !important;
  }
  #card-romina {
    margin-right: 16px !important;
    margin-top: 16px !important;
  }
  #html-escribana {
    overflow-y: auto !important;
    background-color: #F3F3F3;
  }
  #html-escribana body, #html-escribana html .grillado, html #html-escribana .grillado {
    background-color: #F3F3F3;
  }
  #h1-escribana {
    margin-top: 20px;
  }
  #porcentajes {
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .img-bkgd {
    aspect-ratio: 4/3;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    margin-top: -15%;
  }
  .img-firma {
    margin-top: -530px;
    margin-left: 850px;
    opacity: 0.7;
    width: 300px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  h1 {
    color: white;
    z-index: 99;
    font-family: "Parsi-Regular", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  span {
    font-family: "Parsi-Bold", sans-serif;
    font-weight: bold;
    z-index: 99;
    margin-top: -50%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card {
    transform: translateY(0px);
    transition: all 0.2s ease-out;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 16rem;
    height: 15rem;
    border-radius: 12px;
    border: none;
  }
  .card img {
    border-radius: 12px;
    aspect-ratio: 4/3;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card .card-body2 {
    margin-top: -83%;
    border-radius: 8px;
    height: 213.33px;
    z-index: 999;
    background: none;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card .card-body2 h5 {
    margin-top: 65%;
    margin-left: 20px;
    color: white;
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .card:hover {
    transform: translateY(-20px);
    transition: all 0.2s ease-out;
  }
  .btn {
    border-radius: 50px;
  }
  .nombre-esc {
    font-size: 30px;
    font-weight: bold;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .porc {
    font-family: "Kaushan Script", sans-serif;
    font-size: 60px;
    font-weight: bold;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  #fecha {
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  h6 {
    font-family: "Poppins", sans-serif;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  .btn-outline-danger {
    box-shadow: 0 2px 20px RGBA(220, 53, 40, 0.75);
  }
  .btn-outline-warning {
    box-shadow: 0 2px 20px RGBA(255, 193, 7, 0.75);
  }
  #h1-index {
    margin-top: -75%;
  }
  #html-votar {
    overflow-y: auto !important;
    background-color: RGB(21, 21, 85);
  }
  #html-votar body, #html-votar html .grillado, html #html-votar .grillado {
    background-color: RGB(21, 21, 85);
  }
  #h1-votar {
    margin-top: 20px;
  }
  #quien {
    text-align: center;
  }
  #card-julieta {
    margin-right: 16px !important;
    margin-top: 0px !important;
    z-index: 9;
  }
  #card-coti {
    margin-right: 16px !important;
    margin-top: 0px !important;
    z-index: 9;
  }
  #card-daniela {
    margin-right: 16px !important;
    margin-top: 0px !important;
    z-index: 9;
  }
  #card-romina {
    margin-right: 16px !important;
    margin-top: 0px !important;
    z-index: 9;
  }
  #html-escribana {
    overflow-y: auto !important;
    background-color: #F3F3F3;
  }
  #html-escribana body, #html-escribana html .grillado, html #html-escribana .grillado {
    background-color: #F3F3F3;
  }
  #h1-escribana {
    margin-top: 20px;
  }
  #porcentajes {
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */